<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Moderator</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div class="container" id="AppVue">

        <div class="top-menu">

            <br>

            <ul class="nav nav-pills pull-right">
                <li><a href="/" class="btn btn-default">Home</a></li>
                <li v-for="item in menu">
                    <a :href="item.path" class="btn " :class="{
                        'btn-primary': item.selected,
                        'btn-default': !item.selected,
                    }">
                        {{ item.label }}
                    </a>
                </li>
                <li><a href="/auth/logout" class="btn btn-default">Logout</a></li>
            </ul>

            <div class="clearfix"></div>

        </div>

        <%- body %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
        integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
        crossorigin="anonymous"></script>

    <script>
        var mixins = [];
    </script>

    <%- scripts %>

    <script>
        var App = new Vue({
            el: '#AppVue',
            mixins: mixins,
            data: {
                menu: JSON.parse('<%- menuJson %>'),
                user: JSON.parse('<%- userJson %>'),
                guild: JSON.parse('<%- guildJson %>'),
            },
        });
    </script>

</body>

</html>